@import 'jeet'
@import 'nib'

global-reset()

.aside
	span(1/3)
	>.navigation
		span(2/2 1/3, offset: 1/2)
	

#container
	span(2/3, offset: 1/3)
	>.content
		center(75%)
	>.docum
		center(80%)
		


		